.navbar-light {
  display: flex;
  color: rgb(215, 46, 51);
  font-weight: 500;
  font-size: 28px;
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 100%;
  // background-color: white;
  // background-color: #161b22;
  // background-color: #c9d1d9;
  background-color: rgb(248, 248, 248);

  // box-shadow: rgb(221, 221, 221) 2px 2px 5px;
  // border-bottom: 1px solid rgb(228, 228, 228);
  .nav-left {
    // background-color: greenyellow;
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
    // width: 20%;
  }
}

.navbar-dark {
  display: flex;
  color: rgb(215, 46, 51);
  font-weight: 500;
  font-size: 28px;
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 100%;
  // background-color: #2c2f33;
  background-color: #1a1a1b;

  .nav-left {
    // background-color: greenyellow;
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
    // width: 20%;
  }
}

@media (max-width: 970px) {
  .navbar-light {
    display: flex;
    color: rgb(215, 46, 51);
    font-weight: 500;
    font-size: 28px;
    height: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    // background-color: #2c2f33;
    // background-color: #1a1a1b;

    .nav-left {
      // background-color: greenyellow;
      display: flex;
      width: 90%;
      justify-content: flex-start;
      span {
        margin-left: 30px;
      }
    }
    .nav-right {
      display: flex;
      justify-content: flex-start;
      // width: 20%;
    }
  }

  .navbar-dark {
    display: flex;
    color: rgb(215, 46, 51);
    font-weight: 500;
    font-size: 28px;
    height: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    // background-color: #2c2f33;
    background-color: #1a1a1b;

    .nav-left {
      // background-color: greenyellow;
      display: flex;
      width: 90%;
      justify-content: flex-start;
      span {
        margin-left: 30px;
      }
    }
    .nav-right {
      display: flex;
      justify-content: flex-start;
      // width: 20%;
    }
  }
}
