.navbar {
  display: flex;
  color: rgb(215, 46, 51);
  font-weight: 500;
  font-size: 28px;
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  box-shadow: rgb(221, 221, 221) 2px 2px 5px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
